<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Luigi's Pizza - Szykowna Pizzeria</title>
<link rel="icon" type="image/png" href="./static/img/pizza_logo.png">
<script src="https://unpkg.com/htmx.org"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/815d934afd.js" crossorigin="anonymous"></script>
<link href="./static/tailwind.css" rel="stylesheet">
