<nav class="fixed top-0 w-full bg-dark text-white shadow-lg-dark z-50">
    <div class="container mx-auto flex items-center justify-between px-4 py-3">
        <a href="/" class="text-lg font-bold flex items-center space-x-2">
            <i class="fa-solid fa-pizza-slice text-orange"></i>
            <span>Luigi's <span class="text-orange">Pizza</span></span>
        </a>
        <button class="block lg:hidden focus:outline-none" id="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div id="navbar-links" class="hidden lg:flex space-x-6">
            <a href="/#nasze_specjaly" class="hover:text-orange transition">Nasze Specjały</a>
            <a href="/menu" class="hover:text-orange transition">Nasze Menu</a>
            <a href="/summary" class="hover:text-orange transition">Rezerwacja</a>
            <a href="/#contact" class="hover:text-orange transition">Kontakt</a>
        </div>
    </div>
</nav>
